.e-button_app_menu {
	position 		: absolute;
	border-radius 	: 40px;
	width  			: 40px;
	height 			: 40px;
	min-height 		: 40px;
	top  			: 10px;
	left  			: 10px;
	background-color: RGB(253, 68, 130);
}